<!DOCTYPE html>
<%- include('../partials/head'); %>
    <body>
        <%- include('../partials/header', {pagina: 'sobre'}); %>
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Oi eu sou Alesandra.</p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>